---
import Card from '../../components/core/Card.astro';
import Layout from '../../layouts/Layout.astro';
import game_state from '../../../src/game_state/game_state.json';
import type { MilaResultsDTO } from '../../../src/game_state/gameState';
import RuleBoxPlot from './_RuleBoxPlot';

const milaResults: MilaResultsDTO = game_state;
const overallScore = milaResults.overallScore;
---

<Layout title="Milabowl - Analytics" enableViewTransitions>
    <Card title="Milapoints Analytics">
        <div style={{ height: '800px' }}>
            <RuleBoxPlot client:idle overallScore={overallScore} />
        </div>
    </Card>
</Layout>
