---
import game_state from "../../../../src/game_state/game_state.json";
import type { MilaResultsDTO, ResultsByUser } from "../../../../src/game_state/gameState";
import Layout from "../../../layouts/Layout.astro";
import Card from "../../../components/core/Card.astro";
import FplPlayer from "../_FplPlayer.astro";

interface Props{
    userResults: ResultsByUser;
}

export function getStaticPaths() {
  const gameState: MilaResultsDTO = game_state;
  const paths = gameState.resultsByUser.map(r => (
    { 
      params: { player: r.teamName.replaceAll(" ", "-")},
      props: { userResults: r }
    }));
  return paths;
}

const { userResults } = Astro.props;
---
<Layout title={`${userResults.teamName}`}>
    <div class="text-base dark:text-dark-text"><!-- Extract common text component -->
        <div class="flex flex-col items-center gap-4 pb-4">
            <div class="text-xl font-bold">
                $jeikOgBetalt
            </div>
    
            <div>
                Gameweek 30
            </div>
    
            <div class="rounded-md bg-gradient-to-r from-indigo-800 to-indigo-700 p-4">
                Score 69 (-4 hits)
            </div>
        </div>

        

        <div class="bg-gradient-to-b from-green-500 to-green-600 rounded-b-md pb-1">
            <div class="flex justify-center pt-4 pb-2">
                <FplPlayer name="Gabriel" info="6"/>
            </div>
            <div class="flex justify-center py-2 gap-4">
                <FplPlayer name="Gabriel" info="6"/>
                <FplPlayer name="Gabriel" info="6"/>
                <FplPlayer name="Gabriel" info="6"/>
            </div>
            <div class="flex justify-center py-2 gap-4">
                <FplPlayer name="Gabriel" info="6"/>
                <FplPlayer name="Gabriel" info="6"/>
                <FplPlayer name="Gabriel" info="6"/>
                <FplPlayer name="Gabriel" info="6"/>
            </div>
            <div class="flex justify-center py-2 gap-4">
                <FplPlayer name="Gabriel" info="6"/>
                <FplPlayer name="Gabriel" info="6"/>
                <FplPlayer name="Gabriel" info="6"/>
            </div>

            <div class="flex justify-around bg-white bg-opacity-20 p-4 mx-4 my-2 rounded-md">
                <FplPlayer name="Gabriel" info="6" pos="GK"/>
                <FplPlayer name="Gabriel" info="6" pos="DEF"/>
                <FplPlayer name="Gabriel" info="6" pos="DEF"/>
                <FplPlayer name="Gabriel" info="6" pos="MID"/>
            </div>
        </div>

    </div>
</Layout>