---
import Layout from "../../../layouts/Layout.astro";
import FplPitch from "./_FplPitch.astro";

interface Props{
    userResults: FplUserGameweekResult;
}

interface FplPlayerResult{
    lastName: string;
    points: number;
    position: string;
    isCap: boolean;
    isViceCap: boolean;
    team: string;
    isBench: boolean;
}

export interface FplUserGameweekResult{
    gameWeek: number;
    teamName: string;
    lineup: FplPlayerResult[];
}

export function getStaticPaths() {
    const fplResults: FplUserGameweekResult[] = [
        { 
            gameWeek: 30,
            teamName: "$jeik og betalt",
            lineup: [
            {
                    lastName: "Something",
                    points: 2,
                    position: "GK",
                    team: "Liverpool",
                    isCap: false,
                    isViceCap: false,
                    isBench: false
                },
                {
                    lastName: "Gabriel",
                    points: 6,
                    position: "Def",
                    team: "Arsenal",
                    isCap: false,
                    isViceCap: false,
                    isBench: false
                },
                {
                    lastName: "Gabriel",
                    points: 6,
                    position: "Def",
                    team: "Arsenal",
                    isCap: false,
                    isViceCap: false,
                    isBench: false
                },
                {
                    lastName: "Gabriel",
                    points: 6,
                    position: "Def",
                    team: "Arsenal",
                    isCap: false,
                    isViceCap: false,
                    isBench: false
                },
                {
                    lastName: "Gabriel",
                    points: 6,
                    position: "Mid",
                    team: "Arsenal",
                    isCap: true,
                    isViceCap: false,
                    isBench: false
                },
                {
                    lastName: "Gabriel",
                    points: 6,
                    position: "Mid",
                    team: "Arsenal",
                    isCap: false,
                    isViceCap: true,
                    isBench: false
                },
                {
                    lastName: "Gabriel",
                    points: 6,
                    position: "Mid",
                    team: "Arsenal",
                    isCap: false,
                    isViceCap: false,
                    isBench: false
                },
                {
                    lastName: "Gabriel",
                    points: 6,
                    position: "Mid",
                    team: "Arsenal",
                    isCap: false,
                    isViceCap: false,
                    isBench: false
                },
                {
                    lastName: "Gabriel",
                    points: 6,
                    position: "Fwd",
                    team: "Arsenal",
                    isCap: false,
                    isViceCap: false,
                    isBench: false
                },
                {
                    lastName: "Gabriel",
                    points: 6,
                    position: "Fwd",
                    team: "Arsenal",
                    isCap: false,
                    isViceCap: false,
                    isBench: false
                },
                {
                    lastName: "Gabriel",
                    points: 6,
                    position: "Fwd",
                    team: "Arsenal",
                    isCap: false,
                    isViceCap: false,
                    isBench: false
                },
                {
                    lastName: "Gabriel",
                    points: 6,
                    position: "GK",
                    team: "Arsenal",
                    isCap: false,
                    isViceCap: false,
                    isBench: true
                },
                {
                    lastName: "Gabriel",
                    points: 6,
                    position: "DEF",
                    team: "Arsenal",
                    isCap: false,
                    isViceCap: false,
                    isBench: true
                },
                {
                    lastName: "Gabriel",
                    points: 6,
                    position: "Def",
                    team: "Arsenal",
                    isCap: false,
                    isViceCap: false,
                    isBench: true
                },
                {
                    lastName: "Gabriel",
                    points: 6,
                    position: "Mid",
                    team: "Arsenal",
                    isCap: false,
                    isViceCap: false,
                    isBench: true
                },
            ]     
        }
    ];

    const paths = fplResults.map(r => (
        { 
        params: { player: r.teamName.replaceAll(" ", "-")},
        props: { userResults: r }
        }));
    return paths;
}

const { userResults } = Astro.props;
---
<Layout title={`${userResults.teamName}`}>
    <div class="text-base dark:text-dark-text"><!-- Extract common text component -->
        <div class="flex flex-col items-center w-full bg-gradient-to-b from-slate-900 to-slate-800 fixed top-14">
            <div class="pt-2 text-xl font-bold">
                $jeikOgBetalt
            </div>

            <div class="flex px-4 py-0 w-full justify-start">
                <a href=`/players/${userResults.teamName}` class="px-4 py-2">Mila</a>
                <div class="px-4 py-2 border-b-4 border-indigo-700">FPL</div>
            </div>
        </div>

        <div class="flex flex-col items-center gap-4 pb-4 bg-slate-800 pt-20">
            <div class="flex justify-between w-full p-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
                </svg>
                <div>
                    Gameweek 30
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                </svg>
            </div>
    
            <div class="rounded-md bg-gradient-to-r from-indigo-800 to-indigo-700 p-4">
                Score 69 (-4 hits)
            </div>
        </div>
        

        <FplPitch fplUserGameweekResults={userResults}/>

        <div class="h-96"/>

    </div>
</Layout>