---
interface Props {
  status?: 'Negative' | 'Positive' | 'Neutral';
}

const GetNegativeClasses = (status?: string): string => {
  return status === 'Negative'
    ? 'bg-gradient-to-r from-danger-muted/80 to-danger-muted/75 text-on-danger'
    : '';
};

const GetPositiveClasses = (status?: string): string => {
  return status === 'Positive'
    ? 'bg-gradient-to-r from-success-muted/80 to-success-muted/75 text-on-success'
    : '';
};

const { status = 'Neutral' } = Astro.props;
---

<div
  class={`rounded-md bg-surface-2 p-2 ${GetNegativeClasses(status)} ${GetPositiveClasses(status)}`}
>
  <slot />
</div>
