.rank-1 {
  background: linear-gradient(
    to right,
    hsla(45, 65%, 55%, 0.5),
    hsla(45, 65%, 55%, 0.1),
    hsla(45, 65%, 40%, 0)
  );
}

.rank-2 {
  background: linear-gradient(
    to right,
    hsla(210, 12%, 70%, 0.5),
    hsla(210, 12%, 45%, 0.1),
    hsla(45, 65%, 40%, 0)
  );
}

.rank-3 {
  background: linear-gradient(
    to right,
    hsla(30, 60%, 50%, 0.5),
    hsla(30, 60%, 35%, 0.1),
    hsla(45, 65%, 40%, 0)
  );
}

.rank-1-avatar {
  box-shadow: 0 0 0 3px hsla(45, 65%, 55%, 0.9);
}

.rank-2-avatar {
  box-shadow: 0 0 0 3px hsla(210, 12%, 70%, 0.9);
}

.rank-3-avatar {
  box-shadow: 0 0 0 3px hsla(30, 60%, 50%, 0.9);
}
