---
export interface Props {
  title?: string;
}
const { title } = Astro.props;
---

<div
  class="bg-surface border-1 border-outline/30 h-full space-y-2 rounded-md p-4"
>
  {
    title && (
      <div class="mb-3 flex items-center md:mb-5">
        <div class=" grow font-bold md:text-xl">{title}</div>
        <div class="text-sm md:text-base">
          <slot name="secondary" />
        </div>
      </div>
    )
  }
  <div class="h-full overflow-x-auto text-base">
    <slot />
  </div>
</div>
