---
export interface Props {
    title?: string;
}
const { title } = Astro.props;
---

<div class="bg-white dark:bg-slate-800 rounded-md p-4 shadow-sm dark:shadow-sm-dark space-y-2 h-full">
    {
        title && 
        <div class="flex items-center mb-3 md:mb-5">
            <div class="md:text-xl font-bold text-indigo-900 dark:text-dark-text grow">
                {title}
            </div>
            <div class="text-sm md:text-base dark:text-dark-text">
                <slot name="secondary"/>
            </div>
        </div>
    }   
    <div class="text-base dark:text-dark-text overflow-x-auto h-full">
        <slot/>
    </div>
</div>