---
export interface Props {
  href: string;
  disableUnderline?: boolean;
}
const { href, disableUnderline } = Astro.props;
---

<a
  class:list={[
    'text-indigo-900 dark:text-dark-text',
    { underline: !disableUnderline },
  ]}
  href={href}
>
  <slot />
</a>
