---
export interface Props {
    title: string;
    color?: string;
}

const { title, color = 'bg-black' } = Astro.props;
---

<div class:list={['rounded-full', 'text-white', 'text-center', 'px-2', color]}>
    {title}
    <button class="bg-slate-700 px-1 dark:bg-slate-600"></button>
</div>
