---
export interface Props {
    delta: number;
}

const { delta } = Astro.props;
---

<div>
    {
        delta < 0 && (
            <div class="text-small flex flex-row items-center justify-items-center text-red-700 dark:text-red-400 md:text-base">
                <div class="flex flex-col items-center">
                    <div
                        style="font-size: xx-small; font-weight: bold;"
                        class="text-xs"
                    >
                        {delta * -1}
                    </div>
                    <svg
                        style="margin:-4px"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="4"
                        stroke="currentColor"
                        class="h-3 w-3 md:h-4 md:w-4"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                        />
                    </svg>
                </div>
            </div>
        )
    }
    {
        delta > 0 && (
            <div class="flex items-center justify-items-center text-green-700 dark:text-green-400">
                <div class="flex flex-col items-center">
                    <div style="margin:-4px">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="4"
                            stroke="currentColor"
                            class="h-3 w-3 md:h-4 md:w-4"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="m4.5 15.75 7.5-7.5 7.5 7.5"
                            />
                        </svg>
                    </div>
                    <div
                        style="font-size: xx-small; font-weight: bold;"
                        class="text-xs"
                    >
                        {delta}
                    </div>
                </div>
            </div>
        )
    }
    {
        delta === 0 && (
            <div class="font-bold">
                -<div />
            </div>
        )
    }
</div>
