.flipCard {
    background-color: transparent;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}

.flipCard.flipped .flipCardInner {
    transform: rotateY(-180deg);
}

.flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipCardBack {
    transform: rotateY(-180deg);
}