---
import type { CollectionEntry } from "astro:content";
import Card from "../../components/core/Card.astro";

export interface Props {
    post: CollectionEntry<'blog'>;
    navigationText: "Previous Post" | "Next Post";

} 

const { post, navigationText } = Astro.props;
---
<a href={`/blog/${post.slug}`}>
    <Card>
        {
            navigationText === "Previous Post" && (
                <div class="flex items-center gap-2 mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
                    </svg>
                    <div class="no-underline">
                        {navigationText}
                    </div>
                    <div class="grow"/>
                </div>
            )
            
        }

        {
            navigationText === "Next Post" && (
                <div class="flex items-center gap-2 mb-2 no-underline">
                    <div class="grow"/>
                    {navigationText}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                    </svg>  
                </div>
            )
        }
        <h2 class="text-base font-bold text-slate-500 dark:text-slate-400 no-underline">
            {post.data.title}
        </h2>
    </Card>
</a> 
