---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import BlogPreview from "./BlogPreview.astro";

const firstBlogEntries = (await getCollection('blog', ({ data }) => { 
    return data.date <= new Date()
})).sort((a, b) => 
    a.data.date < b.data.date ? 1 : -1
).slice(0, 10);
---
<Layout title="Mila blog">
    <div class="mb-2 space-y-2 max-w-screen-lg mx-auto">
        {
        firstBlogEntries.map(async post => 
            <BlogPreview post={post}/>
        )
        }
        <a class="pl-2 md:pl-0" href="blog/archive">
            <button class="mt-4 p-4 dark:bg-slate-700 dark:text-dark-text rounded-md">
                See Archive
            </button>
        </a>
        
    </div>
</Layout>

<style>
    .blog-container {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    .blog-entry:not(:first-child) {
        margin-top: 1rem;
    }

    h1 {
        font-size: 4.5rem;
        font-weight: 800;
    }
</style>