---
import Layout from '../../layouts/Layout.astro';
import game_state from '../../../src/game_state/game_state.json';
import type { MilaResultsDTO } from '../../game_state/gameState';
import Card from '../../components/core/Card.astro';

const milaResults: MilaResultsDTO = game_state;
---

<Layout title={`Rules of Milabowl`} enableViewTransitions>
  <div class="mx-auto flex w-screen max-w-screen-lg flex-col space-y-2">
    <Card>
      <div class="mb-2 text-xl font-bold">Rules</div>
      {
        milaResults.rules.map((r) => (
          <div class="py-2">
            <div class="font-bold">{`${r.name} (${r.shortName})`}</div>
            <div style="white-space: pre-line;">{r.description}</div>
          </div>
        ))
      }
    </Card>
  </div>
</Layout>
