---
interface Props {
  name: string;
  active?: boolean;
  href?: string;
  buttonId?: string;
}

const { name, active, href, buttonId } = Astro.props;
---

{
  buttonId && (
    <button
      id={buttonId}
      type="button"
      class="text-content-primary-muted flex grow flex-col items-center justify-center gap-1 text-xs font-bold"
      aria-controls="mobile-menu"
      aria-expanded="false"
    >
      {active && <slot name="active-icon" />}
      {!active && <slot name="inactive-icon" />}
      {name}
    </button>
  )
}
{
  !buttonId && (
    <a
      href={href}
      class={`flex grow flex-col items-center justify-center gap-1 text-[0.7rem] font-bold ${active ? '' : 'text-content-primary-muted'}`}
      transition:animate="none"
    >
      {active && <slot name="active-icon" />}
      {!active && <slot name="inactive-icon" />}
      {name}
    </a>
  )
}
