<button 
  id="menu-hamburger"
  type="button" 
  class={`inline-flex items-center justify-center rounded-md bg-slate-100 dark:bg-slate-900 p-2 
    text-indigo-900 dark:text-dark-text hover:bg-slate-200 hover:dark:bg-slate-800 focus:outline-none 
    focus:ring-1 focus:ring-white focus:ring-offset-1
    focus:ring-offset-indigo-900 dark:focus:ring-offset-dark-text`} 
  aria-controls="mobile-menu" 
  aria-expanded="false"
>
  <span class="sr-only">Open main menu</span>
  <svg class="block h-7 w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
  </svg>
  <svg class="hidden h-7 w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
  </svg>
</button>