---
import Card from "../../components/core/Card.astro";
import Layout from "../../layouts/Layout.astro";

const historicResults = [
    {
        season: "2019/2020",
        players: [
            {
                name: "Henrik",
                milaPoints: 24,
                milaPos: 6,
                fplPoints: 2007,
                fplPos: 6,
                maxGwScore: 101,
                minGwScore: 21,
            },
            {
                name: "Sam",
                milaPoints: 47,
                milaPos: 5,
                fplPoints: 2118,
                fplPos: 5,
                maxGwScore: 113,
                minGwScore: 20
            },
            {
                name: "Anders",
                milaPoints: 64.5,
                milaPos: 4,
                fplPoints: 2122,
                fplPos: 4,
                maxGwScore: 86,
                minGwScore: 20
            },
            {
                name: "Simen",
                milaPoints: 76.4,
                milaPos: 3,
                fplPoints: 2275,
                fplPos: 2,
                maxGwScore: 90,
                minGwScore: 20
            },
            {
                name: "Markus",
                milaPoints: 80.9,
                milaPos: 2,
                fplPoints: 2225,
                fplPos: 3,
                maxGwScore: 114,
                minGwScore: 34
            },
            {
                name: "Eivind",
                milaPoints: 88.9,
                milaPos: 1,
                fplPoints: 2314,
                fplPos: 1,
                maxGwScore: 114,
                minGwScore: 34
            },
        ]
    },
    {
        season: "2020/2021",
        players: [
            {
                name: "Henrik",
                milaPoints: 113.3,
                milaPos: 8,
                //fplPoints: 2007,
                //fplPos: 6,
                //maxGwScore: 101,
                //minGwScore: 21,
            },
            {
                name: "Sam",
                milaPoints: 81.1,
                milaPos: 9,
                //fplPoints: 2118,
                //fplPos: 5,
                //maxGwScore: 113,
                //minGwScore: 20
            },
            {
                name: "Anders",
                milaPoints: 150.2,
                milaPos: 2,
                //fplPoints: 2122,
                //fplPos: 4,
                //maxGwScore: 86,
                //minGwScore: 20
            },
            {
                name: "Simen",
                milaPoints: 132.1,
                milaPos: 6,
                //fplPoints: 2275,
                //fplPos: 2,
                //maxGwScore: 90,
                //minGwScore: 20
            },
            {
                name: "Markus",
                milaPoints: 133.5,
                milaPos: 4,
                //fplPoints: 2225,
                //fplPos: 3,
                //maxGwScore: 114,
                //minGwScore: 34
            },
            {
                name: "Eivind",
                milaPoints: 128.5,
                milaPos: 7,
                //fplPoints: 2314,
                //fplPos: 1,
                //maxGwScore: 114,
                //minGwScore: 34
            },
            {
                name: "Malte",
                milaPoints: 133.5,
                milaPos: 4,
                //fplPoints: 2314,
                //fplPos: 1,
                //maxGwScore: 114,
                //minGwScore: 34
            },
            {
                name: "Martin",
                milaPoints: 150.3,
                milaPos: 1,
                //fplPoints: 2314,
                //fplPos: 1,
                //maxGwScore: 114,
                //minGwScore: 34
            },
            {
                name: "Mikkel",
                milaPoints: 138.7,
                milaPos: 3,
                //fplPoints: 2314,
                //fplPos: 1,
                //maxGwScore: 114,
                //minGwScore: 34
            },
        ]
    }

];

---
<Layout title="History">
    <div class="flex flex-col lg:grid lg:grid-cols-12 gap-4">	
        <Card title="Historic results">
            
        </Card>
    </div>

</Layout>